.about-container {
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    padding: 20px;
    margin-left: 75px;
    margin-right: 75px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.columns{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.coll {
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0.8s forwards;
}

.col{
    animation: slideUp 0.8s forwards;
    transform: translateY(20px);
    opacity: 0;
}
.coll:nth-child(1),
.coll:nth-child(2),
.coll:nth-child(3) {
    animation-delay: 0.5s;
}

.col:nth-child(1),
.col:nth-child(2),
.col:nth-child(3) {
    animation-delay: 0.9s;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-image {
    width: 90%; 
    height: 470px; 
    object-fit: cover;
}

.about-text-container {
    background-color: #f7f7f7;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    height: 300px;
    width: 90%; 
    margin: 0; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-left: 20px;
}

.about-text h3 {
    font-size: 1.2em; 
    margin-bottom: 10px;
    color: #333; 
    text-align: center;
}

.about-text p {
    font-size: 1em;
    color: #666;
}
