.role {
    width: 300px !important;
}

.Role {
    margin-right: 15px;
}

label {
    font-size: 16px;
}

.UP {
    margin-top: -30px;
    height: 540px !important;
}

button{
    margin-top: -5px  !important;
}